/* Write the style of the module here.
 * No manual namespace needed, it will be done automatically
 */

@import '../../variables.css';

$framecolor: #88888888;

.side_panel {
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 100vh;
	width: 100vw;
	max-width: 320px;
	transform: translate3d(-320px, 0, 0);
	transition: transform cubic-bezier(0.18, 0.89, 0.32, 1.06) .5s;
	background: linear-gradient(-30deg, #000, #333);
	outline: none;
	.menu_button {
		position: absolute;
		box-sizing: border-box;
		top: 10px;
		right: 10px;
		transform: translate3d(60px, 0, 0);
		height: 40px;
		width: 40px;
		border: $framecolor 2px solid;
		color: $framecolor;
		user-select: none;
		cursor: pointer;
		transition: transform cubic-bezier(0.18, 0.89, 0.32, 0.92) .5s;
		i {
			height: 100%;
			line-height: 36px;
			width: 100%;
			text-align: center;
			font-size: 30px;
		}
		&.retract {
			visibility: hidden;
			outline: none;
		}
	}
	&:focus {
		transform: translate3d(-20px, 0, 0);
		.menu_button {
			transform: translate3d(0, 0, 0);
			&.expand {
				visibility: hidden;
			}
			&.retract {
				visibility: visible;
			}
		}
	}
	h3 {
		position: relative;
		&:after {
			content: '';
			height: 2px;
			width: 24px;
			position: absolute;
			bottom: -5px;
			left: 0;
			background: linear-gradient(90deg, var(--color-left), var(--color-right));
			transition: width .2s;
		}
		&:hover {
			&:after {
				width: 30px;
			}
		}
	}
	ul {
		width: 100%;
		padding-left: 16px;
		box-sizing: border-box;
		list-style: none;
		position: relative;
		li {
			font-weight: lighter;
			cursor: pointer;
			margin: 8px 0;
			position: relative;
			span {
				position: relative;
				display: inline-block;
				&:after {
					content: '';
					width: 0;
					height: 2px;
					position: absolute;
					bottom: -2px;
					left: 0;
					background-color: #FFF;
					transition: width .2s;
				}
			}
			&:before {
				content: '';
				opacity: 0;
				transform: translate3d(-15px, 6px, 0) rotate(45deg);
				border-top: #FFF 2px solid;
				border-right: #FFF 2px solid;
				height: 6px;
				width: 6px;
				box-sizing: border-box;
				position: absolute;
				top: 0;
				left: 0;
				transition: transform .2s, opacity .2s;
				pointer-events: none;
			}
			&.active {
				&:before {
					opacity: 1;
					transform: translate3d(-12px, 6px, 0) rotate(45deg);
				}
			}
			&:hover {
				& span:after {
					width: 100%;
				}
			}
		}
	}
}

.holder {
	width: 100%;
	padding: 0 20px 0 30px;
	color: #FFF;
	box-sizing: border-box;
	h1 {
		display: inline-block;
		margin: 0;
		height: 60px;
		line-height: 60px;
		background: linear-gradient(90deg, var(--color-left), var(--color-right));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		text-shadow: var(--color-shadow) 0px 2px 3px;
	}
}
