/* Write the style of the module here.
 * No manual namespace needed, it will be done automatically
 */

@import '../variables.css';

html {
	background-image: url('https://i.loli.net/2017/08/03/59820ac27a362.png');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.demo {
	p {
		background: linear-gradient(90deg, var(--color-left), var(--color-right));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.logo {
	max-width: 600px;
	filter: drop-shadow(0 5px 10px var(--color-shadow));
}

.text_logo {
	height: 100%;
	font-size: 40px;
	font-family: 'Megrim', cursive;
	background: linear-gradient(90deg, var(--color-left), var(--color-right));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	user-select: none;
	cursor: default;
	margin-left: 50px;
}

.page {
	backdrop-filter: blur(10px);
	background: rgba(0,0,0,.5);
}
