/* Write the style of the module here.
 * No manual namespace needed, it will be done automatically
 */

@import '../../variables.css';

.footer {
	height: 150px;
	border: 0;
	border-bottom: 2px solid;
	border-image: linear-gradient(90deg, var(--color-left), var(--color-right));
	border-image-slice: 1;
	box-shadow: var(--color-shadow) 0px -3px 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	& a {
		color: #000;
		text-decoration: none;
		background: linear-gradient(90deg, var(--color-left), var(--color-right));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.copyright {
	text-align: center;
	flex-grow: 0;
	min-height: 18px;
	line-height: 18px;
	font-size: 14px;
}
