:root {
	--color-left: #b200fb;
	--color-right: #6f00e8;
	--color-shadow: rgba(178, 0, 251, 0.2);
}

@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
@import url('https://fonts.googleapis.com/css?family=Megrim');
