/* Write the style of the module here.
 * No manual namespace needed, it will be done automatically
 */

@import '../../variables.css';

.page {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.caption {
	margin: 20px;
	text-align: center;
}
